VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY="AIzaSyChJ9QAV1lFMiclrl6U7vowzU6wFYDTbA0"
VITE_FIREBASE_AUTH_DOMAIN="eroturf.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="eroturf"
VITE_FIREBASE_STORAGE_BUCKET="eroturf.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="854170322322"
VITE_FIREBASE_APP_ID="1:854170322322:web:a412949f05faf2127e6d4b"
VITE_STRIPE_PUBLISHABLE_KEY="pk_test_51TdSalB8G13zNxCKhdg7ByFndk7TK4aBvC63v0zcK6RfxcBqc1Jj2JX6eKvZlfvMmH7HqrOFlN7NdANZsiwrx40O00Qs7OQ0Qn"
